/* Headings
---------------------------------------------------------------------------------- */

/*
Headings

markup:
<sg-insert>3.1</sg-insert>
<sg-insert>3.2</sg-insert>

Styleguide 3
*/

/* Core
-------------------------------------------------- */

/*
Heading common

markup:
<div class="heading">
    Common heading
</span>

Styleguide 3.1
*/

.heading {
    @mixin font-smoothing;

    font-family: $ff-main;
    font-size: $fs-l;
    line-height: $lh-head;

	margin-bottom: $grid-2;
    }

/* /Core */


/* Mods
-------------------------------------------------- */

/*
Heading main

markup:
<div class="heading heading__main">
    Main heading
</span>

Styleguide 3.2
*/

.heading__main {
    color: $c-base;
    font-weight: bold;
    }

/* /Headings
---------------------------------------------------------------------------------- */