/* Point
---------------------------------------------------------------------------------- */

/*
cssg

	point
		point_ico
			img . point_img

		point_count
		point_tx

*/


.point {

	}


/* Image
-------------------------------------------------- */

.point_ico {
	height: 11rem;
	}

	.point_img {
		height: 100%;
		width: auto;
		}

/* /Image */


/* Text
-------------------------------------------------- */

.point_count {
	font-size: $fs-xl;
	}

.point_tx {
	font-size: $fs-s;
	line-height: $lh-head;
	}

/* /Text */

/* /Point
---------------------------------------------------------------------------------- */