/* Layout
---------------------------------------------------------------------------------- */

/* Body
-------------------------------------------------- */

body {
    display: flex;
    flex-direction: column;
    }

/* /Body */


/* Root
-------------------------------------------------- */

.root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }

/* /Root */


/* Common wrapper
-------------------------------------------------- */

.container {
    position: relative;
    box-sizing: border-box;

    margin: 0 auto;
	padding: $grid-2 0;

	@media(--s) {
		padding: $grid-2 $grid-3;
		}

	@media(--n) {
		width: $width-normal;
		}
    }

/* /Common wrapper */


/* Main
-------------------------------------------------- */

.main {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
    }

/* /Main */


#rotate {
	position: fixed;
	z-index: 1000;
	left: 5rem;
	top: 5rem;
	}
/* /Layout
---------------------------------------------------------------------------------- */